@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  right: 5px;
}

::-webkit-scrollbar-track {
  background: black;
  border-right: 5px solid transparent;
}

::-webkit-scrollbar-thumb {
  background: #faa41a;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}
