@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  right: 0;
}

::-webkit-scrollbar-track {
  background: black;
  border-right: 5px solid transparent;
}

::-webkit-scrollbar-thumb {
  background: #faa41a;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

.radial {
  background: radial-gradient(#faa41a, transparent);
}
